html{
	scroll-behavior: smooth;
}

body{
	background-color: #fff;
	color: #212721;
}

.primary-color{
	color: #006341 !important;	/*green*/
}

.secondary-color{
	color: #212721 !important;	/*black*/
}

.tertiary-color{
	color: #F8F9F8 !important;	/*gray*/
}

.primary-bg{
	background-color: #006341 !important;	/*green*/
}

.secondary-bg{
	background-color: #212721 !important;	/*dark gray (almost black)*/
}

.tertiary-bg{
	background-color: #F8F9F8 !important;	/*gray*/
}

header > nav.navbar{
	background-color: #fff !important;
	color: #006341;
	box-shadow: 0 0 2px #212721;
}

nav.navbar > a.navbar-brand > img{
	max-height: 64px;
}




header > nav.navbar #navbarCollapse{
    font-size: 1.25rem;
}

.navbar-light .navbar-nav .nav-link{
	color: #212721;
	font-weight: 500;
}

.navbar-light .navbar-nav .active>.nav-link{
	color: #006341;
}

header > nav.navbar #navbarCollapse a.btn{
    margin-right: 2%;
    margin-left: 0;
}



header > nav.navbar #navbarCollapse a.btn.primary-bg{
	border-color: #006341;
}

/*program highlights section*/

main section.program-highlights .polygon-overlay{
	clip-path: polygon(0 0, 73% 0%, 95% 100%, 0% 100%);
	-webkit-clip-path: polygon(0 0, 73% 0%, 95% 100%, 0% 100%);
	position: absolute;
	height: 100%;
	width: 32%;
	left: 0;
	top: 0;
	background: url('../../assets/images/program-highlights.jpg');
	z-index: 9;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

main section.program-highlights .media .highlight-para{
	line-height: 1.5;
}

main section.program-highlights .media .highlight-btn{
	border: 0;
	padding-left: 0;
}

main section.program-highlights .media .highlight-btn:hover{
	background-color: transparent;
    color: #006341;
}

/* testimonial section */
main section.testimonial-section{
    width: auto;
    background-color: #e9ecef;
    margin-top: -1.5rem;
}



main section.testimonial-section .user-img{
	position: absolute;
	width: 6rem;
	height: 6rem;
	background-color: #000;
	left:2rem;
	border-radius: 50%;
	background:url(../../assets/images/testimonial1.jpg);
	background-size: contain;
}



main section.testimonial-section blockquote p{
	font-size: 1.6rem;
}

/* courses section */
main section.courses-section{
    width: auto;
}



/*faculty section*/

main section.faculty-section{
    background-color: #F4F4F4;
}

/*video section*/
main section.video-section > article{
    padding-bottom: 3em;
}

main section.video-section > article > iframe{
	width: 85vw;
    height: 35vh;
}


/*footer*/
footer.container-fluid{
    padding: 3% 2%;
}

footer.container-fluid >img{
	max-height: 50px;
	margin-bottom: 2%;
}

footer.container-fluid div.footer-nav a{
	text-transform: uppercase;
}

footer.container-fluid div.footer-nav > a{
	margin: 0 2%;
}

footer.container-fluid div.footer-nav > a >i{
	font-size: 1.25em;
}

/*slider*/
.owl-carousel.main-carousel{
	margin-top: 90px;
}



.owl-carousel.main-carousel img{
	height: inherit;
	object-fit: cover;
}



.owl-carousel.main-carousel .owl-stage-outer .owl-item{
    height: 50vh;
}

.owl-carousel.banner-carousel .owl-stage-outer .owl-item{
    height: 20vh;
}

.owl-carousel.courses-carousel .owl-stage-outer .owl-item{
    max-height: 400px;
}

.owl-carousel.main-carousel .item{
	height: inherit;
  	position: relative;
}


.owl-carousel.courses-carousel .item{
	height: inherit;
  	position: relative;
	max-height: 400px;
}

.owl-carousel.courses-carousel img{
	height: inherit;
	object-fit: cover;
}

.owl-carousel .item .content{
	position: absolute;
    z-index: 9;
    color: #fff;
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-carousel .item .content h1{
	font-size: 2rem;
}

.owl-carousel.courses-carousel  .item .content{
	max-height: 400px;
}


.owl-carousel .item .content > h1{
	text-align: center;
	text-shadow: 0px 5px 5px #000;
}

.owl-carousel .item .content > h1 > span{
	font-weight: 800;
}

.owl-carousel .item .content > h1 > small{
	display: block;
    margin-top: 1em;
    font-size: 0.6em;
    text-shadow: none;
}

.owl-carousel .overlay{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: #006341;
	opacity: 0.75;
	display: flex;
	justify-content: center;
}

.owl-carousel.courses-carousel .overlay{
	background-color: #000000;
	opacity: 0.5;
	max-height: 400px;
}

.owl-carousel .overlay > h1{
	color: #fff;align-self: center;
}

.owl-carousel .owl-nav button.owl-next{
	right: 2%;
    position: absolute;
    top: 40%;
    font-size: 3em;
    color: #fff;
}

.owl-carousel .owl-nav button.owl-prev{
	left: 2%;
    position: absolute;
    top: 40%;
    font-size: 3em;
    color: #fff;
}

.btn:focus {
    outline: 0;
    box-shadow: none;
}

.head-banner{
	margin-top: 85px;
    height: 175px;
}



/*HINA's  CSS*/

body#portfolio main .jumbotron.head-banner, body#faculty main .jumbotron.head-banner, body#testimonial main .jumbotron.head-banner{
    
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/slide1.jpg");

  /* Set a specific height */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;     
}

body#portfolio .overlay, body#faculty .overlay, body#testimonial .overlay{    
    position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: #006341;
	opacity: 0.75;
	display: flex;
	justify-content: center;
}

body#portfolio .jumbotron .content, body#faculty .jumbotron .content, body#testimonial .jumbotron .content{
	position: absolute;
    z-index: 9;
    color: #fff;
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    left:0;
}


body#portfolio .header-txt, body#faculty .header-txt, body#testimonial .header-txt{
	text-align: center;    
    color:white;
    padding-top:5%;
    opacity:100%;    
	text-shadow: 0px 5px 5px #000;
}

body#portfolio section.container-fluid{    
    padding:2rem 2rem 1.5rem;     
}


body#portfolio .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
}


body#portfolio figure{
    width:380px;
    height:500px; 
    padding-bottom: 10%;    
}



body#portfolio figure img.img-fluid{
    max-width:100%;
    width:380px;
    height:inherit;
    object-fit: cover;
    object-position: top;
    cursor: zoom-in;  
    box-shadow: 0px 0px 5px 2px #eee;
    border: 1px solid #eee; 
}


/* The Modal (background) */
body#portfolio .modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
body#portfolio .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
body#portfolio .close {
  color: white;
  position: absolute;
  top: 1rem;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

body#portfolio .close:hover,
body#portfolio .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

body#portfolio .mySlides {
  display: none;
}

body#portfolio .cursor {
  cursor: pointer;
}

/* Next & previous buttons */

body#portfolio .modal a{    
    color:white;
    background-color: rgba(0, 0, 0, 0.8);
}

body#portfolio .prev,
body#portfolio .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;  
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
body#portfolio .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/*
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
*/

/* Number text (1/3 etc) */
body#portfolio .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

body#portfolio img {
  margin-bottom: -4px;
}

body#portfolio .caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

body#portfolio .demo {
  opacity: 0.6;
}

body#portfolio .active,
body#portfolio .demo:hover {
  opacity: 1;
}

body#portfolio img.hover-shadow {
  transition: 0.3s;
}

body#portfolio .hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


body#portfolio .download{
    padding-left:6rem;    
    
}
body#portfolio .download a{
    
    background-color: #212721 !important;	
}


/*end of Hina's CSS*/

@media (min-width: 576px){

	.head-banner{
		margin-top: 65px;
	    height: 255px;
	}

	nav.navbar > a.navbar-brand > img{
		max-height: 45px;
	}

	main section.testimonial-section .user-img{
		width: 8rem;
		height: 8rem;
	}


	.owl-carousel.main-carousel{
		margin-top: 70px;
	}
}


@media (min-width: 768px) {


	main section.program-highlights .media .highlight-para{
		/*padding-right: 45% !important;*/
		line-height: 2.5;
	}
	header > nav.navbar #navbarCollapse a.btn{
	    margin-right: 2%;
	    margin-left: 6%;
	}
	main section.testimonial-section{
	    background-color: transparent;
	}
	main section.testimonial-section .user-img{
		width: 10rem;
		height: 10rem;
		left:-5rem;
	}
	main section.video-section > article > iframe{
		width: 80vw;
	    height: 40vh;
	}
	.owl-carousel.main-carousel .owl-stage-outer .owl-item{
	    height: 75vh;
	}
	.owl-carousel.banner-carousel .owl-stage-outer .owl-item{
	    height: 25vh;
	}
	body#portfolio figure{
	    width:380px;
	    height:230px; 
	    padding-bottom: 10%;    
	}
}

@media (min-width: 900px){

	.head-banner{
		margin-top: 35px;
	    height: 255px;
	}
}



@media (min-width: 1000px) {
	main section.video-section > article > iframe{
		width: 85vw;
	    height: 50vh;
	}
}

